/** PRIMARY #d0e2ba
/** PRIMARY rgba(208, 226,186,.3)

/** SECONDARY #2f5600
/** SECONDARY rgba(47,86,0, .3)

/** NEUTRAL #4d4d4d
/** NEUTRAL rgab(77,77,77,.3);

/** ACCENT #ad5757
/** ACCENT rgab(173,87,87,.3)
*/

html, body, ul, li{
    margin: 0;
    padding: 0;
	background-image:url("../imgs/banner.jpg");
}

/**
 *  GLOBAL STYLES
 **/
 
.container{
    width: 90%;
    margin: 0 auto;
	background-color:#000;
}

.more-info{
    text-align: right;
}

/**
 *  HEADER STLYES
 **/
 
#site-header{
    position: relative;
}

#site-header-image{
    height: 190px;
    overflow: hidden;
    z-index: -1;
}

#site-header-image img{
    width: 100%;
    min-height: 190px;
}

#logo{
    position: absolute;
    top: 0;
}

/**
 *  MENU STLYES
 **/
 
.menu-nav-container{

}

.menu-nav-container ul{ 
    padding: 0; 
}

.menu-nav-container ul li{ 
    display: inline-block;
    padding: .5em 1em;
    margin: 0;
}
 
.menu-nav-container.main{
    text-align: right;
    height: 80px;  
}

.menu-nav-container.main ul{  
    border-top: 5px solid #000;
    background: #000;
    background: rgba(208, 226,186,.3);
}

.menu-nav-container.main li{
    border-left: 2px solid #000;
}

.menu-nav-container.main li.first{
    border: 0;
}

.menu-nav-container.main li.active{
}

.menu-nav-container.main li.active a{
    color: #000;
}

.menu-nav-container.main li a{
    color: #000;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    display: block;
}

.menu-nav-container.main li a:hover{
    color: #000;
}

/**
 *  COLUMN ITEMS
 **/
 
.one-fourth{
    width: 20%;
    float: left;
}

.one-half{
    width: 50%;
    float: left;
    margin: 0 5%;
}

.three-fourths{
    width: 75%;
    float: left;  
    margin-right: 5%;  
}

.one-fourth .region-right-callout  .block{
   margin-bottom: 1em;
}   

.one-fourth .region-right-callout  .block h2{
    padding: .5em 1em;
    margin: 0;
    color: #fff;
    background: #000;
}

.one-fourth .region-right-callout .block .content{
    padding: 1em;
    border: 1px solid #e6e6e6;
}

.one-fourth .region-right-callout  .block p{
    font-size: .7em;
}

.one-fourth .region-right-callout  .block img{
    width: 100%;
}

/**
 *  FOOTER STLYES
 **/
#site-footer .container{
    padding: 1em;
    background: #000;           
    background: rgab(173,87,87,.3);
    color: #000;
    font-size: .8em;
}

#site-footer .container p{
    color: #000;
}

.menu-nav-container.footer{
    border-bottom: 1px solid #fff;    
    border-bottom: 1px solid rgba(255,255,255,.3);    
}

.menu-nav-container.footer ul li a{
    color: #fff;
    text-decoration: none;
}

.menu-nav-container.footer ul li:hover{
    background: #fff;
    color: #4d4d4d;
}

.menu-nav-container.footer ul li a:hover{
    color: #4d4d4d;
}

/**
 *  CSS CLEARFIX
 **/

clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

